* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--pal-0: #fffffb;
	--pal-0-5: #fdfbee;
	--pal-1: #faf6e1;
	--pal-1-5: #f7efd3;
	--pal-2: #f3e7c6;
	--pal-3: #e8d2ac;
	--pal-4: #d9ba94;
	--pal-5: #c49f7c;
	--pal-6: #a98365;
	--pal-7: #88654d;
	--pal-8: #634736;
	--pal-9: #3d2b21;
	--pal-10: #19120d;

	--atop-b: var(--pal-10);
	--atop-0: var(--pal-10);
	--atop-0-5: var(--pal-10);
	--atop-1: var(--pal-10);
	--atop-1-5: var(--pal-10);
	--atop-2: var(--pal-10);
	--atop-3: var(--pal-10);
	--atop-4: var(--pal-10);
	--atop-5: var(--pal-10);
	--atop-6: var(--pal-10);
	--atop-7: var(--pal-0);
	--atop-8: var(--pal-0);
	--atop-9: var(--pal-0);
	--atop-10: var(--pal-0);
}

@media (prefers-color-scheme: dark) {
	:root {
		--pal-0: #1a120d;
		--pal-0-5: #291d16;
		--pal-1: #38291f;
		--pal-1-5: #4a362a;
		--pal-2: #5c4434;
		--pal-3: #886951;
		--pal-4: #ad8a6b;
		--pal-5: #c19e7c;
		--pal-6: #cfb18c;
		--pal-7: #dcc8a5;
		--pal-8: #e8dfc3;
		--pal-9: #f4f1e0;
		--pal-10: #fffffb;
	
		--atop-0: var(--pal-10);
		--atop-0-5: var(--pal-10);
		--atop-1: var(--pal-10);
		--atop-1-5: var(--pal-10);
		--atop-2: var(--pal-10);
		--atop-3: var(--pal-10);
		--atop-4: var(--pal-0);
		--atop-5: var(--pal-0);
		--atop-6: var(--pal-0);
		--atop-7: var(--pal-0);
		--atop-8: var(--pal-0);
		--atop-9: var(--pal-0);
		--atop-10: var(--pal-0);
	}
}

h2 {
	font-weight: 500;
	letter-spacing: -0.02em;
}

body {
	display: grid;
	grid-template:
		"main" 1fr
		"nav" auto / 100%;

	width: 100vw;
	height: 100svh;
	overflow: hidden;

	font: 1rem/1.25 "Lexend", system-ui;
	background-color: var(--pal-1);
	color: var(--atop-1);
}

body > nav {
	grid-area: nav;
	display: flex;
	flex-direction: row;
	padding: 0.5rem;
	gap: 0.5rem;

	& > button {
		font: inherit;
		border: none;
		background: none;
		color: inherit;

		padding: 0 0.5rem;
		border-radius: 2rem;
		height: 2rem;

		cursor: pointer;

		&:first-of-type {
			background: var(--pal-3);
			color: var(--atop-3);
			font-size: 0;
			aspect-ratio: 1;

			position: relative;

			&::after {
				content: " ";
				display: block;
				position: absolute;
				width: 1rem;
				height: 1rem;
				left: 50%;
				top: 50%;
				translate: -50% -50%;
				background-color: currentColor;
				mask: url(assets/icons/home.svg) no-repeat center;
				mask-size: cover;
			}
		}

		&.current {
			background: var(--pal-8);
			color: var(--atop-8);
		}

		&:hover {
			background: var(--pal-4);
			color: var(--atop-4);
		}
	}
}

body > main {
	grid-area: main;

	display: grid;
	grid-template:
		"aside" 4rem
		"." 8rem
		"article" calc(100% - 4rem)
		/ 100%;

	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;

	scroll-snap-type: y mandatory;

	scroll-timeline: --scroll-to-aside y;
}

body > main > aside {
	grid-area: aside;

	position: sticky;
	top: 0;
	height: 4rem;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;

	animation: linear both aside-on-main-scroll; 
	animation-timeline: --scroll-to-aside;
}

body > main > article {
	grid-area: article;
	background-color: var(--pal-0);
	color: var(--atop-0);
	border-radius: 1.5rem;
	padding: 1rem;

	overflow-y: scroll;
	scrollbar-width: thin;
	
	scroll-snap-align: start;
	animation: linear both article-on-main-scroll; 
	animation-timeline: --scroll-to-aside;
}

@keyframes aside-on-main-scroll {
	0% {
		translate: 0 4rem;
	}
	100% {
		translate: 0 0;
	}
}

@keyframes article-on-main-scroll {
	0% {
		opacity: 0;
		height: calc(100% - 8rem);
	}
	100% {
		opacity: 1;
		height: calc(100%);
	}
}